.head {
  background: var(--gradiant);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header:hover {
  text-shadow:
    0 0 5px #00f7ff,
    0 0 10px #00f7ff,
    0 0 20px #00f7ff,
    0 0 40px #00f7ff;
}

.header::before {
  transform: translate(-5px, -5px);
  box-shadow:
    0 0 5px #00f7ff,
    0 0 10px #00f7ff,
    0 0 20px #00f7ff,
    0 0 40px #00c6ff;
}

.experiance {
  width: 100%;
}

.step {
  position: relative;
}

.step::after {
  width: 100%;
}

.step::before {
  transform: translate(-50%, 50%);
  box-shadow:
    0 0 5px #00f7ff,
    0 0 10px #00f7ff,
    0 0 20px #00f7ff,
    0 0 40px #00c6ff;
  z-index: 1;
  animation: move 4s ease-in-out infinite;
}

/* Keyframes */
@keyframes move {
  0% {
    left: 0%;
  }
  50% {
    left: 100%;
  }
}

.name h4 {
  background: linear-gradient(325deg, rgb(255, 38, 0), rgb(9, 156, 214));
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.name h4::after {
  background: var(--gradiant);
}

@media (max-width: 580px) {
  .head {
    font-size: var(--fs-h3);
  }
  .header {
    font-size: var(--fs-h4);
    margin: 0;
  }

  .step {
    padding: 0.5rem 0;
  }
  .name {
    margin-top: 1rem;
    flex-direction: column;
    line-height: 1rem;
    margin-bottom: 0.5rem;
  }

  .name,
  .name p {
    font-size: var(--fs-lead);
  }
  .step .dis {
    font-size: var(--fs-sm);
    line-height: 1.3rem;
  }

  .step h4 a {
    display: block;
    min-height: 21px;
  }

  .step::before {
    animation: move 2s ease-in-out infinite;
  }
}
