.projects {
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;
}

.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.select {
  background-color: var(--card-bg);
  border: 1px solid var(--border);
  padding: 0 0.8rem;
  border-radius: 0.3rem;
  cursor: pointer;
}
.select:hover {
  background-color: var(--hi-color);
}

.selected {
  background-color: var(--hi-color);
}

.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
}

.card {
  display: flex;
  align-items: self-start;
  justify-content: space-between;
  flex-direction: column;
  min-width: 280px;
  max-width: 50%;
  min-height: 400px;
  flex: 1;
  padding: 1rem 1.5rem;
  background-color: var(--card-bg);
  border-radius: var(--br-radius);
  border: 1px solid var(--border);
  box-shadow: var(--shadow);
}

.image {
  border-radius: var(--br-radius);
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
  transform: rotate(0deg) scale(1);
}
.card:hover img {
  transform: rotate(4deg) scale(1.2);
}
.card:hover {
  background-color: var(--card-bg-h);
}

.data {
  display: flex;
  align-items: self-start;
  justify-content: space-between;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.data .name {
}
.data .dis {
  font-size: var(--fs-lead);
}
.data .links {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 0.9rem;
}
.data .links a {
  border: 1px solid var(--border);
  padding: 0.1rem 0.9rem;
  border-radius: var(--br-radius);
  background-color: rgba(255, 255, 255, 0.089);
  color: var(--white);
  font-weight: 600;
  height: 44px;
  display: flex;
  align-items: center;
}
.data .links .live {
  background-color: var(--hi-color);
}
.data .links .repo {
  background-color: var(--primary);
}

@media (max-width: 580px) {
  .topbar {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    gap: 1rem;
    text-align: center;
  }
}

@media (max-width: 635px) {
  .card {
    max-width: 100%;
  }
}
