.head {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  scroll-margin-top: var(--nav-height);
}

.header {
  padding: 0rem 1rem;
  border: solid 2px var(--primary);
  border-radius: var(--br-radius);
  position: relative;
}

.header::after {
  content: "";
  position: absolute;
  background-color: var(--primary);
  width: 0%;
  height: 0%;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transition: 0.3s;
}

.header:hover::after {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: var(--br-radius);
}

.header h1 {
  position: relative;
  color: var(--black);
  z-index: 1;
  transition: 0.3s;
}
.header:hover h1 {
  color: var(--white);
}

@media (max-width: 580px) {
  .header h1 {
    font-size: var(--fs-h3);
  }
}
