.btn {
  display: inline-flex;
  align-items: center;
  padding: 0.2rem 0.7rem;
  font-size: var(--fs-sm);
  color: var(--white);
  text-transform: uppercase;
  background-color: var(--primary);
  border-radius: var(--br-radius);
  border: none;
  font-size: 0.8rem;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.75;
}

