.head {
  background: var(--gradiant);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.tag {
  padding: 0 1rem 0 0;
}

.input {
  width: 100%;
  height: 3rem;
  border-radius: var(--br-radius);
  background-color: var(--card-bg);
  border: 1px solid var(--border);
  box-shadow: var(--shadow);
  color: var(--black);
  font-size: var(--fs-h4);
  padding: 0 1rem;
  position: relative;
}
.input:hover,
.msg:hover {
  outline: solid 1px var(--hi-color-h);
}
.input:focus,
.msg:focus {
  outline: solid 2px var(--hi-color);
  background-color: var(--card-bg-h);
}
.input:focus::placeholder,
.msg:focus::placeholder {
  color: transparent;
}

.btn {
  border: var(--border);
  background-color: var(--hi-color);
}
.btn:hover {
  background-color: var(--hi-color-h);
}

.success {
  background-color: var(--card-bg);
  border: 1px solid var(--border);
}
